<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sam.yh.dao.BatteryInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sam.yh.model.BatteryInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="battery_id" property="batteryId" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="temperature" property="temperature" jdbcType="VARCHAR" />
    <result column="voltage" property="voltage" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="receive_date" property="receiveDate" jdbcType="TIMESTAMP" />
    <result column="sample_date" property="sampleDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, battery_id, longitude, latitude, temperature, voltage, status, receive_date, 
    sample_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from battery_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByBtyId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from battery_info
    where id = 
    (select max(id) from battery_info where battery_id = #{btyId,jdbcType=INTEGER})
  </select>
<!--   修改，查询结果中增加电池ID -->
  <select id="selectByReseller" resultType="com.sam.yh.model.ResellerBtyInfo" parameterType="java.lang.Integer" >
    select 
    i.battery_id as battery_id,
    i.longitude as longitude,
    i.latitude as latitude
    from battery_info i
    inner join
    (select MAX(bi.id) as id
    from battery b 
    inner join battery_info bi 
    on b.id=bi.battery_id 
    where b.reseller_id = #{resellerId,jdbcType=INTEGER} 
    GROUP BY bi.battery_id) gb
    on i.id = gb.id
  </select>
  
  <!-- 按电池id和数量降序查询 -->
  <select id="selectBtyByIdAndCountDesc" resultMap="BaseResultMap" parameterType="com.sam.yh.model.web.BtyCountInfo">
   select 
   <include refid="Base_Column_List" />
    from battery_info 
    where battery_id = #{id,jdbcType=BIGINT} 
    order by receive_date desc 
    limit #{count,jdbcType=BIGINT}
  </select>
  
   <!-- 按电池id和数量升序查询 -->
  <select id="selectBtyByIdAndCountAsc" resultMap="BaseResultMap" parameterType="com.sam.yh.model.web.BtyCountInfo">
   select 
   <include refid="Base_Column_List" />
    from battery_info 
    where battery_id = #{id,jdbcType=BIGINT} 
    order by receive_date asc 
    limit #{count,jdbcType=BIGINT}
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from battery_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sam.yh.model.BatteryInfo" >
    insert into battery_info (id, battery_id, longitude, 
      latitude, temperature, voltage, 
      status, receive_date, sample_date
      )
    values (#{id,jdbcType=BIGINT}, #{batteryId,jdbcType=INTEGER}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{temperature,jdbcType=VARCHAR}, #{voltage,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{receiveDate,jdbcType=TIMESTAMP}, #{sampleDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sam.yh.model.BatteryInfo" >
    insert into battery_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="batteryId != null" >
        battery_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="temperature != null" >
        temperature,
      </if>
      <if test="voltage != null" >
        voltage,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="receiveDate != null" >
        receive_date,
      </if>
      <if test="sampleDate != null" >
        sample_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="batteryId != null" >
        #{batteryId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="voltage != null" >
        #{voltage,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="receiveDate != null" >
        #{receiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sampleDate != null" >
        #{sampleDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>